@mixin background-with-image($image-path) {
  margin: 11px 0;
  padding: 12px 16px;
  background-image: url(#{$image-path});
  background-size: 5%;
  background-position: 5% center;
  background-repeat: no-repeat;
  padding-left: 60px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.auth-container {
  display: flex;
  justify-content: center;
  margin: 5px;

  &__box {
    width: 400px;
    overflow: hidden;
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
    border-radius: 10px;
  }
}

.auth {
  &__title {
    align-self: center;
  }

  &__submit-button {
    padding: 12px 16px;
    border-radius: 12px;
    border: 1.5px solid rgb(230, 232, 236);
    background-color: black;
    margin-top: 36px;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: rgb(114, 114, 114);
    }

    &:active {
      color: black;
      background-color: rgb(255, 255, 255);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 20px;
  }

  &__options-button {
    width: 50%;
    border: none;
    padding: 10px;
    color: rgb(35, 38, 47);
  }

  &__email-input {
    @include background-with-image('../../public/user.webp');
  }

  &__password-input {
    &--1 {
      @include background-with-image('../../public/confirm-password.webp');
    }

    &--2 {
      @include background-with-image('../../public/password.webp');
    }
  }
}

.bubble {
  position: absolute;
  width: 10%;
  height: 11%;
  left: 57%;
  top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  background: #ffd;
  box-shadow: 0 -0.25vmin, 0 0.125vmin;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.b {
  border: 0.5vmin solid black;
}

.r {
  border-radius: 100%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  position: absolute;
  top: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-note {
  font-size: 15px;
}

@media (max-width: 1000px) {
  .bubble {
    display: none;
  }
}
